.backgroundStyle {
  opacity: 0.6;
  width: 100%;
  height: 60vh;
  background-size:cover;
  color: white;
  font-size: 15px;
  filter:blur(1px)
  /* background-position: center; */
}
.posterStyle{
  position:absolute;
  width: 32vh;
  top:30vh;
  left:30vh;
  background-color: rgb(0 0 0 / 85%);
}
.rightStyle{
  position:absolute;
  left:65vh;
  color:white
}
.titleStyle{
  position: absolute;
  left:65vh;
  top:36%
}
.bottomdivStyle{
  background-color: rgb(0 0 0 / 85%);
   height: 40vh 
}
@media screen and (max-width: 750px) {
  .bottomdivStyle {
    height: 50vh; 
  }
}

